<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/pagination.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="images/millenia-black.jpeg" rel="icon">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>Millenia - actualités</title>
</head>

<body id="actuality">
<%
function formatDate(data){
    const date = new Date(data);
    const day = getday(date.getDay())+' '+date.getDate()+' '+getmonth(date.getMonth())+' '+date.getFullYear()+' à '+(date.getHours() < 10 ? '0'+date.getHours() : date.getHours())+'h '+(date.getMinutes() < 10 ? '0'+date.getMinutes() : date.getMinutes())+'min';
    return day;
}
function getday(data){
    switch (data) {
        case 1:
            return "Lundi";
            break;
        case 2:
            return "Mardi";
            break;
        case 3:
            return "Mercredi";
            break;
        case 4:
            return "Jeudi";
            break;
        case 5:
            return "Vendredi";
            break;
        case 6:
            return "Samedi";
            break;
        default:
            return "Dimanche";
            break;
    }
}

function getmonth(data){
    switch (data) {
        case 1:
            return "Février";
            break;
        case 2:
            return "Mars";
            break;
        case 3:
            return "Avril";
            break;
        case 4:
            return "Mai";
            break;
        case 5:
            return "Juin";
            break;
        case 6:
            return "Juillet";
            break;
        case 7:
            return "Aout";
            break;
        case 8:
            return "Septembre";
            break;
        case 9:
            return "Octobre";
            break;
        case 10:
            return "Novembre";
            break;
        case 11:
            return "Décembre";
            break;
        default:
            return "Janvier";
            break;
    }
}
%>
<nav class="navigation-bar">
    <div class="container u-container-display variant-position">
        <div>
            <a  href="index.html" class="navigation-bar__logo">
                <img src="images/millenia-white.jpeg" class="img-fluid" alt="logo milénia">
            </a>
        </div>
        <div class="navigation-bar__menu">
            <ul class=" mb-0">
                <a href="index.html">
                    <li class="menu-item active">Accueil</li>
                </a>
                <a href="about.html">
                    <li class="menu-item">A propos</li>
                </a>
                <a href="sections.html">
                    <li class="menu-item">Les sections</li>
                </a>
                <a href="actuality.html">
                    <li class="menu-item">Actualités</li>
                </a>
                <a href="contact.html">
                    <li class="menu-item">Contact</li>
                </a>
            </ul>
            <a href="join.html">
                <button>nous rejoindre</button>
            </a>
            <div class="hamburger-menu center-content">
            </div>
        </div>
    </div>
</nav>
<header class="second-header-block"  style="background-image:url('images/interfaces/<%= actualite.image%>.jpg'); background-size:cover">
    <div class="gD">
        <hr class="little-divider">
        <h2 class="heading-two cl-secondary-light">
            <%= actualite.text %>
        </h2>
        <% if(actualite.link !== ""){%>
            <a href="<%= actualite.link %>" class="btn-link">en savoir plus</a>
        <%}%>
    </div>
</header>
<main class="main-block">
    <div class="container">


        <!--section general-->
        <section class="section-general">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
                       <% if(articles.length > 0){%>
                            <div class="actuality-box mb-5">
                                <div class="data-container"></div>
                                <div id="pagination-demo1"></div>
                            </div>
                        <%}else{%>
                           <h1 style="font-weight: bolder;font-size:40px; font-family: Arial-black,serif; text-align:center">aucun article trouvé</h1>
                        <%}%>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
                    <div class="side-block">
                        <div class="search-article">
                            <form action="/search_article" method="GET">
                                <input type="text" name="recherche" placeholder="rechercher un article">
                                <button type="submit" class="mt-3">rechercher</button>
                            </form>
                        </div>
                        <div class="mt-5">
                            <hr class="little-divider">
                            <h4 class="heading-four">Millénia web TV</h4>
                            <a href="/webtv" target="_blank">
                                <div class="wtv-box">

                                </div>
                            </a>
                        </div>
                        <div class="event">
                            <hr class="little-divider">
                            <h4 class="heading-four">Evènements</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <small>01 Décembre 2019</small>
                                        <p>
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia eum provident, rem voluptatum corrupti incidunt expedita
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <small>23 Décembre 2019</small>
                                        <p>
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia eum provident, rem voluptatum corrupti incidunt expedita
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <small>31 Décembre 2019</small>
                                        <p>
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia eum provident, rem voluptatum corrupti incidunt expedita
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </section>

    </div>
</main>
<footer class="footer">
    <div class="footer__field">
        <div class="container text-center">
            <p class="footer__social-desc">Suivez-nous sur:</small>
            <ul class="footer__social-link mb-0">
                <li>
                    <a href="#">
                        <div class="center-content">
                            <img src="images/svg/facebook-logo.svg" alt="social">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="center-content">
                            <img src="images/svg/twitter.svg" alt="social">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="center-content">
                            <img src="images/svg/instagram-logo.svg" alt="social">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__devs-copyright text-center">
        <a href="#">
            <small>&copy; Kay Donald template - All right reserved</small>
        </a>
    </div>
</footer>

<script src="js/pagination.js"></script>
<script src="js/main.js"></script>
<script>
    $(function() {
        <% if(articles.length > 0){%>
        (function(name) {
            var container = $('#pagination-' + name);
            var sources = function() {
                var result = [];

                <% for (var i = 0; i < articles.length; i++){ %>
                result.push(
                    `
                    <div class="actuality-card mb-5">
                        <div class="actuality-card__illustration" style="background-image: url('images/<%= articles[i].image %>.jpg') !important">
                            &nbsp;
                        </div>
                        <div class="actuality-card__content">
                            <small><%= formatDate(articles[i].date_de_publication) %></small>
                            <h4 class="mt-2">
                                <%= articles[i].content %>
                            </h4>
                            <a href="/article_detail?id=<%= articles[i]._id %>">Lire la suite</a>
                        </div>
                    </div>
                    `
                );
                <%}%>

                return result;
            }();

            var options = {
                dataSource: sources,
                callback: function(response, pagination) {
                    window.console && console.log(response, pagination);

                    var dataHtml = '<div class="row">';

                    $.each(response, function(index, item) {
                        dataHtml += '<div class="col-12">' + item + '</div>';
                    });

                    dataHtml += '</div>';

                    container.prev().html(dataHtml);
                }
            };

            //$.pagination(container, options);

            container.addHook('beforeInit', function() {
                window.console && console.log('beforeInit...');
            });
            container.pagination(options);

            container.addHook('beforePageOnClick', function() {
                window.console && console.log('beforePageOnClick...');
                //return false
            });
        })('demo1');
<%}%>
    })
</script>
<script>
    $(() => {
        $('.mt-2').each(function(){
            const el = $(this).html($(this).html());
            console.log(el);
            $(this).html(el[0].innerText.slice(0,250)+'...');
        });
    })
    $('.heading-two').each(function(){
        const el = $(this).html($(this).html());
        $(this).html(el[0].innerText);
    })
</script>
</body>
