<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="images/millenia-black.jpeg" rel="icon">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>Millenia - article</title>
</head>
<body id="detail_article">
<%
        function formatDate(data){
            const date = new Date(data);
            const day = getday(date.getDay())+' '+date.getDate()+' '+getmonth(date.getMonth())+' '+date.getFullYear()+' à '+(date.getHours() < 10 ? '0'+date.getHours() : date.getHours())+'h '+(date.getMinutes() < 10 ? '0'+date.getMinutes() : date.getMinutes())+'min';
            return day;
        }
        function getday(data){
            switch (data) {
                case 1:
                    return "Lundi";
                    break;
                case 2:
                    return "Mardi";
                    break;
                case 3:
                    return "Mercredi";
                    break;
                case 4:
                    return "Jeudi";
                    break;
                case 5:
                    return "Vendredi";
                    break;
                case 6:
                    return "Samedi";
                    break;
                default:
                    return "Dimanche";
                    break;
            }
        }

        function getmonth(data){
            switch (data) {
                case 1:
                    return "Février";
                    break;
                case 2:
                    return "Mars";
                    break;
                case 3:
                    return "Avril";
                    break;
                case 4:
                    return "Mai";
                    break;
                case 5:
                    return "Juin";
                    break;
                case 6:
                    return "Juillet";
                    break;
                case 7:
                    return "Aout";
                    break;
                case 8:
                    return "Septembre";
                    break;
                case 9:
                    return "Octobre";
                    break;
                case 10:
                    return "Novembre";
                    break;
                case 11:
                    return "Décembre";
                    break;
                default:
                    return "Janvier";
                    break;
            }
        }
 %>
 <nav class="navigation-bar">
    <div class="container u-container-display variant-position">
        <div>
            <a href="/" class="navigation-bar__logo">
                <img src="images/millenia-white.jpeg" class="img-fluid" alt="logo milénia">
            </a>
        </div>
        <div class="navigation-bar__menu">
            <ul class=" mb-0">
                <a href="index.html">
                    <li class="menu-item active">Accueil</li>
                </a>
                <a href="about.html">
                    <li class="menu-item">A propos</li>
                </a>
                <a href="sections.html">
                    <li class="menu-item">Les sections</li>
                </a>
                <a href="actuality.html">
                    <li class="menu-item">Actualités</li>
                </a>
                <a href="contact.html">
                    <li class="menu-item">Contact</li>
                </a>
            </ul>
            <a href="join.html">
                <button>nous rejoindre</button>
            </a>
            <div class="hamburger-menu center-content">
            </div>
        </div>
    </div>
</nav>
<header class="second-header-block"  style="background-image:url('images/interfaces/<%= actualite.image%>.jpg'); background-size:cover">
    <div class="gD">
        <hr class="little-divider">
        <h2 class="heading-two cl-secondary-light">
            <%= actualite.text %>
        </h2>
        <% if(actualite.link !== ""){%>
            <a href="<%= actualite.link %>" class="btn-link">en savoir plus</a>
        <%}%>
    </div>
</header>
<main class="main-block">
    <div class="container">


        <!--section general-->
        <section class="section-general">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
                    <div class="card adhesion-card mb-3">
                        <div class="article-content">
                            <h3 class="heading-three mb-3">
                                <%= article.titre %>
                            </h3>
                            <small>publié le <%= formatDate(article.date_de_publication) %></small>
                            <img class="article-img img-fluid" src='images/<%= article.image %>.jpg' width="100%" />
                            <div class="article-text mt-4">
                                <%= article.content %>
                            </div>
                        </div>
                    </div>
                    <div class="card adhesion-card mb-5">
                        <h3 class="heading-three-2 cl-primary mb-5">Commentaires</h3>
                        <form class="comment" action="#">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label><span class="erreur" style="font-size: 11px;font-weight: bolder;color: red"></span></label>
                                    <input type="text" class="form-control" id="email" required placeholder="mon e-mail">
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <textarea class="form-control" id="message" rows="4" required placeholder="Mon commentaire"></textarea>
                            </div>
                            <br>
                            <button type="submit" class="btn-link" style="cursor: pointer;">Commenter</button>
                            <div class="animation">
                                <span class="element"></span>
                                <span class="element"></span>
                                <span class="element"></span>
                                <span class="element"></span>
                                <span class="element"></span>
                            </div>
                            <div class="alert alert-success" style="display:none !important">
                                <p>publier</p>
                            </div>
                        </form>
                        <hr class="mb-5">
                        <ul class="comments-list">
                            <% article.commentaires.forEach(comment => {%>
                                <li>
                                    <div>
                                        <p class="cl-primary mb-0"><%= comment.email %> <span><%= formatDate(comment.date_de_post) %></span></p>
                                        <p class="comment">
                                            <%= comment.message %>
                                        </p>
                                    </div>
                                </li>
                            <% }) %>
                            <div id="end_comment"></div>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
                    <div class="side-block">
                        <div class="search-article">
                            <form action="/search_article" method="GET">
                                <input type="text"  name="recherche" placeholder="rechercher un article">
                                <button type="submit" class="mt-3">rechercher</button>
                            </form>
                        </div>
                        <div class="mt-5">
                            <hr class="little-divider">
                            <h4 class="heading-four">Millénia web TV</h4>
                            <a href="/webtv" target="_blank">
                                <div class="wtv-box">

                                </div>
                            </a>
                        </div>
                        <div class="event">
                            <hr class="little-divider">
                            <h4 class="heading-four">Evènements</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <small>01 Décembre 2019</small>
                                        <p>
                                            Lorem ipsum dolor sit, amet consectetur
                                            adipisicing elit. Mollitia eum provident,
                                            rem voluptatum corrupti incidunt expedita
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <small>23 Décembre 2019</small>
                                        <p>
                                            Lorem ipsum dolor sit, amet consectetur
                                            adipisicing elit. Mollitia eum provident,
                                            rem voluptatum corrupti incidunt expedita
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <small>31 Décembre 2019</small>
                                        <p>
                                            Lorem ipsum dolor sit, amet consectetur
                                            adipisicing elit. Mollitia eum provident,
                                            rem voluptatum corrupti incidunt expedita
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </section>

    </div>
</main>
<footer class="footer">
    <div class="footer__field">
        <div class="container text-center">
            <p class="footer__social-desc">Suivez-nous sur:</small>
            <ul class="footer__social-link mb-0">
                <li>
                    <a href="#">
                        <div class="center-content">
                            <img src="images/svg/facebook-logo.svg" alt="social">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="center-content">
                            <img src="images/svg/twitter.svg" alt="social">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="center-content">
                            <img src="images/svg/instagram-logo.svg" alt="social">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__devs-copyright text-center">
        <a href="#">
            <small>&copy; Aniki template - All right reserved</small>
        </a>
    </div>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script src="js/main.js"></script>
<script>
    const socket = io('http://localhost:3000/detail_article');
    let inter;let els = document.querySelectorAll('.element');
        const el = $('.mt-4').html($('.mt-4').html());
        console.log(el[0].innerText);
        $('.mt-4').html(el[0].innerText);
    $('#detail_article form #email').on('keyup',function(){
        if($(this).val().length > 2){
            $(this).removeClass('error');
            this.previousElementSibling.children[0].textContent = "";
        }
    });
        $('form.comment').on('submit',function(e){
           e.preventDefault();
           let verif = true;
            if($('#email').val().length > 2 && (!(/^[a-z0-9._-]+@[a-z0-9._-]+\.[a-z]{2,6}$/.test($('#email').val())))){
                verif = false;
                $('#email').addClass('error');
                document.querySelector('#email').previousElementSibling.children[0].textContent = "email invalide";
            }
            if(verif){
                $('button[type="submit"]').css('display','none');
                $('.animation').css('display','block');
                animation();
                const data = {
                    article_id: "<%= article._id %>",
                    email: $('#email').val(),
                    message: $('#message').val()
                }
                let compt = 0;
                let test = setInterval(()=>{
                    compt++;
                    if(compt == 3){
                        clearInterval(test);
                        socket.emit('add comment',data);
                    }
                },1000);
            }
        });
        socket.on('add comment',(data) => {
            clearInterval(inter);
            $('.animation').css('display','none');
            $('.alert-success').css('font-size','16px');
            $('.alert-success').css('font-weight','bolder');
            $('.alert-success').fadeIn(500).delay(2000).fadeOut(500,()=>{
                $('button[type="submit"]').css('display','block');
                $('html, body').animate({
                    scrollTop: $('#end_comment').offset().top
                }, 300);
            })
            $('#email').val('');
            $('#message').val('');
            const comments = document.querySelector('.comments-list');
            comments.innerHTML += `<li>
                                    <div>
                                        <p class="cl-primary mb-0">${data.email}&nbsp;&nbsp;&nbsp;<span>${formatDate(Date.now())}</span></p>
                                        <p class="comment">
                                           ${data.message}
                                        </p>
                                    </div>
                                </li>`;

        })

    function animation(){
        inter =   setInterval(()=>{
            els[0].style.backgroundColor = "red";
            $(els[0]).animate({
                "padding":"7px 11px",
            },100).delay(75).animate({
                "padding":"3px 7px"
            },100,() => {
                els[0].style.backgroundColor = "darkgrey";
                els[1].style.backgroundColor = "red";
                $(els[1]).animate({
                    "padding":"7px 11px",
                },100).delay(75).animate({
                    "padding":"3px 7px"
                },100,() => {
                    els[1].style.backgroundColor = "darkgrey";
                    els[2].style.backgroundColor = "red";
                    $(els[2]).animate({
                        "padding":"7px 11px",
                    },100).delay(75).animate({
                        "padding":"3px 7px"
                    },100,() => {
                        els[2].style.backgroundColor = "darkgrey";
                        els[3].style.backgroundColor = "red";
                        $(els[3]).animate({
                            "padding":"7px 11px",
                        },100).delay(75).animate({
                            "padding":"3px 7px"
                        },100,() => {
                            els[3].style.backgroundColor = "darkgrey";
                            els[4].style.backgroundColor = "red";
                            $(els[4]).animate({
                                "padding":"7px 11px",
                            },100).delay(75).animate({
                                "padding":"3px 7px"
                            },100,()=>{
                                els[4].style.backgroundColor = "darkgrey";
                            });
                        });
                    });
                });
            });
        },1375);
    }

    function formatDate(data){
            const date = new Date(data);
            const day = getday(date.getDay())+' '+date.getDate()+' '+getmonth(date.getMonth())+' '+date.getFullYear()+' à '+(date.getHours() < 10 ? '0'+date.getHours() : date.getHours())+'h '+(date.getMinutes() < 10 ? '0'+date.getMinutes() : date.getMinutes())+'min';
            return day;
    }
    function getday(data){
            switch (data) {
                case 1:
                    return "Lundi";
                    break;
                case 2:
                    return "Mardi";
                    break;
                case 3:
                    return "Mercredi";
                    break;
                case 4:
                    return "Jeudi";
                    break;
                case 5:
                    return "Vendredi";
                    break;

                case 5:
                    return "Samedi";
                    break;
                default:
                    return "Dimanche";
                    break;
            }
    }

    function getmonth(data){
        switch (data) {
            case 1:
                return "Février";
                break;
            case 2:
                return "Mars";
                break;
            case 3:
                return "Avril";
                break;
            case 4:
                return "Mai";
                break;
            case 5:
                return "Juin";
                break;
            case 6:
                return "Juillet";
                break;
            case 7:
                return "Aout";
                break;
            case 8:
                return "Septembre";
                break;
            case 9:
                return "Octobre";
                break;
            case 10:
                return "Novembre";
                break;
            case 11:
                return "Décembre";
                break;
            default:
                return "Janvier";
                break;
        }
    }

    $('.heading-two').each(function(){
        const el = $(this).html($(this).html());
        $(this).html(el[0].innerText);
    })
</script>

</body>
